{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Get Quote</button>
    </form>

    <script>
        document.querySelector('form').onsubmit = function() {
            if (!document.querySelector('input[name="symbol"]').value) {
                alert('You must provide a stock symbol!');
                return false;
            }
            return true;
        };
    </script>
{% endblock %}
